.ekran{
    margin-top: 100px;
    width: 1200px;
    height: 500px;
    opacity: 90%;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
}

.it{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.it > h4{
    color: white;
    
}



.moreReact > h4{
    color: white;
    margin-left: 160px;
}

.morePython > h4{
    color: white;
    margin-left: 160px;
}

#moreScrapp > h4{
    color: white;
    margin-left: 160px;
}


#hobby{
    height: 160px;
    width: 300px;
    margin-left: 50px;
    border-radius: 8px;
    margin-top: 100px;
}

#hobby:hover{
    cursor: pointer;
    transform: scale(1.10);
}

.other{
    display: flex;
    margin-top: -70px;
    margin-left: 50px;
}

.moreFootball > h4{
    color: white;
    margin-left: 160px;
}

.moreTravel > h4{
    color: white;
    margin-left: 160px;
}

#moreCooking > h4{
    color: white;
    margin-left: 160px; 
}

@media screen and (max-width: 1220px) {
    .hero-container > h1{
        font-size: 70px;
        text-align: center;
    }

    .ekran{
        margin-top: 120px;
        width: 1000px;
    }

    .it{
        margin-top: 20px;
    }

    #hobby{
        height: 120px;
        width: 250px;
        margin-left: 20px;
    }

    .moreReact > h4{
        color: white;
        margin-left: 100px;
    }
    
    .morePython > h4{
        color: white;
        margin-left: 100px;
    }
    
    #moreScrapp > h4{
        color: white;
        margin-left: 100px;
    }

    .moreFootball > h4{
        color: white;
        margin-left: 100px;
    }
    
    .moreTravel > h4{
        color: white;
        margin-left: 100px;
    }
    
    #moreCooking > h4{
        color: white;
        margin-left: 100px;
    }


}

@media screen and (max-width: 1050px) {
    .hero-container > h1{
        font-size: 50px;
        text-align: center;
    }

    .ekran{
        margin-top: 120px;
        width: 800px;
        height: 400px;
    }

    .it{
        margin-top: 0px;
    }

    #hobby{
        height: 120px;
        width: 250px;
        margin-left: 20px;
    }

    .moreReact > h4{
        color: white;
        margin-left: 100px;
    }
    
    .morePython > h4{
        color: white;
        margin-left: 100px;
    }
    
    #moreScrapp > h4{
        color: white;
        margin-left: 100px;
    }

    .moreFootball > h4{
        color: white;
        margin-left: 100px;
    }
    
    .moreTravel > h4{
        color: white;
        margin-left: 100px;
    }
    
    #moreCooking > h4{
        color: white;
        margin-left: 100px;
    }

}

@media screen and (max-width: 930px) {
    .hero-container > h1{
        font-size: 50px;
        text-align: center;
    }

    .ekran{
        margin-top: 120px;
        width: 650px;
        height: 400px;
    }

    .it{
        margin-top: 0px;
    }

    #hobby{
        height: 100px;
        width: 180px;
        margin-left: 10px;
        margin-top: 110px;
    }

    .moreReact > h4{
        color: white;
        margin-left: 60px;
    }
    
    .morePython > h4{
        color: white;
        margin-left: 60px;
    }
    
    #moreScrapp > h4{
        color: white;
        margin-left: 60px;
    }

    .moreFootball > h4{
        color: white;
        margin-left: 60px;
    }
    
    .moreTravel > h4{
        color: white;
        margin-left: 60px;
    }
    
    #moreCooking > h4{
        color: white;
        margin-left: 60px;
    }

}

@media screen and (max-width: 630px) {
    .hero-container > h1{
        font-size: 30px;
        text-align: center;
    }

    .ekran{
        margin-top: 120px;
        width: 570px;
        height: 300px;
    }

    .it{
        margin-top: 0px;
    }

    #hobby{
        height: 80px;
        width: 150px;
        margin-left:10px;
    }

    .moreReact > h4{
        color: white;
        margin-left: 40px;
    }
    
    .morePython > h4{
        color: white;
        margin-left: 40px;
    }
    
    #moreScrapp > h4{
        color: white;
        margin-left: 40px;
    }

    .moreFootball > h4{
        color: white;
        margin-left: 40px;
    }
    
    .moreTravel > h4{
        color: white;
        margin-left: 40px;
    }
    
    #moreCooking > h4{
        color: white;
        margin-left: 40px;
    }

}